.layout {
    margin-top: 2.4rem;
}

.layout > .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

// dialog box
.layout__box {
    width: 90%;
    max-width: 48rem;
    min-height: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    background-color: var(--color-dark-medium);
    border-radius: 1rem;
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.layout__boxHeader {
    display: flex;
    padding: 1.5rem;
    background-color: var(--color-dark-light);
}

.layout__boxTitle {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.layout__boxTitle h3 {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-light);
}

.layout__body {
    margin: 3rem;
}

@media screen and (max-width: 900px) {
    .activities,
    .topics {
        display: none;
    }
    
    .roomList {
        flex-basis: 100%;
    }
}