.navbar {
    padding: 1.5rem;
    background-color: var(--color-dark);
}

.navbar__container {
    display: flex;
    gap: 9.5rem;
}

.navbar__logo,
.navbar__user {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navbar__logo > img {
    height: 3.2rem;
    width: 3.2rem;
}

.navbar__logo > h1 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--color-light);
}

.navbar__search > label {
    background-color: var(--color-dark-medium);
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 4px;
}

.navbar__search svg {
    fill: var(--color-gray);
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.navbar__search input {
    width: 30rem;
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-light);
}

@media screen and (max-width: 800px) {
    .navbar__search input {
        width: 20rem;
    }

    .navbar__container {
        gap: 3rem;
    }
}

@media screen and (max-width: 700px) {
    .navbar__logo h1 {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .navbar__search {
        display: none;
    }
}

.navbar__menu {
    margin-left: auto;
    position: relative;
}

.navbar__menu a {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-gray);
}

.navbar__menu img {
    height: 3.6rem;
}

.navbar__menu p {
    line-height: 1.2;
}

.navbar__menu span {
    color: var(--color-main);
    font-weight: 500;
    font-size: 1.4rem;
    display: block;
}

.navbar__menu svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--color-light);
}

.dropdown-button {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.dropdown-button:hover svg {
    fill: var(--color-main);
}