<div class="activities">
    <div class="activities__header">
        <h2>Recent Activities</h2>
    </div>
    {% for comment in comments %}
    <div class="activities__box">
        <div class="activities__boxHeader roomListRoom__header">
            <div class="avatar avatar--small">
                <img src="{{comment.user.avatar.url}}" />
            </div>
            <p>
                @{{comment.user.username}}
                <span>{{comment.created|timesince}} ago</span>
            </p>
            

        </div>
        <div class="activities__boxContent">
            <p>replied to post “<a href="{% url 'room' comment.room.id %}">{{comment.room}}</a>”</p>
            <div class="activities__boxRoomContent">{{comment.body}}</div>
        </div>
    </div>
    {% endfor %}

</div>