{% extends 'main.html' %}

{% block content %}
<main class="auth layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Login</h3>
        </div>
      </div>
      <div class="layout__body">
        
        <form class="form" action="" method="POST">
          {% csrf_token %}
          <div class="form__group">
            <label for="room_name">Email</label>
            <input id="username" name="email" type="email" />
          </div>
          <div class=" form__group">
            <label for="password">Password</label>
            <input id="password" name="password" type="password" />
          </div>

          <button class="btn btn__main" type="submit">
            Login
          </button>
        </form>

        <div class="auth__action">
          <p>Haven't signed up yet?</p>
          <a href="{% url 'signup' %}" class="btn btn__link">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}