{% extends 'main.html' %}

{% block content %}
<main class="auth layout">  
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Signup</h3>
        </div>
      </div>
      <div class="layout__body">

        <form class="form" action="" method="POST">
          {% csrf_token %}

          {% for field in form %}
          <div class="form__group">
            <label for="room_name">{{field.label}}</label>
            {{field}}
          </div>
          {% endfor %}


          <button class="btn btn--main" type="submit">
            Signup
          </button>
        </form>

        <div class="auth__action">
          <p>Already signed up?</p>
          <a href="{% url 'login' %}" class="btn btn--link">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}